<div class="row col-md-offset-4 col-md-4" style="margin-top: 150px">
  <form (ngSubmit)="login()" #loginForm="ngForm" style="width: 100%;background: white">
    <div class="login-container form-inline">
      <div class="login-input-container">
        <input type="text" class="login-input" [(ngModel)]="UserName" placeholder="user name" name="userName" required>
      </div>
      <div class="login-input-container">
        <input type="password" class="login-input" [(ngModel)]="Password" placeholder="Password" name="password" required>
      </div>
      <div class="login-input-container">
        <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Login</button>
      </div>
    </div>
  </form>
</div>
